@{
    ViewData["Title"] = "Actor Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}


<div style="overflow-x:auto;">
    <table class="table-warning" id="myTable4">
        <thead>
            <tr class="tablo">
                <th scope="row">actor_id</th>
                <th scope="row">firts_name</th>
                <th scope="row">last_name</th>
                <th scope="row">last_update</th>
            </tr>
        </thead>
    </table>

</div>
