@{
    ViewData["Title"] = "Address Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}


<div style="overflow-x:auto;">
    <table class="table-warning" id="myTable8">
        <thead>
            <tr class="tablo">
                <th scope="row">address_id</th>
                <th scope="row">address</th>
                <th scope="row">address2</th>
                <th scope="row">district</th>
                <th scope="row">city_id</th>
                <th scope="row">postal_code</th>
                <th scope="row">phone</th>
                <th scope="row">last_update</th>
            </tr>
        </thead>
    </table>

</div>
