@{
    ViewData["Title"] = "Language Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}


<div style="overflow-x:auto;">
    <table class="table-warning" id="myTable11">
        <thead>
            <tr class="tablo">
                <th scope="row">city_id</th>
                <th scope="row">city</th>
                <th scope="row">country_id</th>
                <th scope="row">last_update</th>
            </tr>
        </thead>
    </table>

</div>
