@{
    ViewData["Title"] = "Customer Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}




<div style="overflow-x:auto;">
    <table class="table-warning" id="myTable6">
        <thead>
            <tr class="tablo">
                <th scope="row">customer_id</th>
                <th scope="row">store_id</th>
                <th scope="row">first_name</th>
                <th scope="row">last_name</th>
                <th scope="row">email</th>
                <th scope="row">address_id</th>
                <th scope="row">activebool</th>
                <th scope="row">create_date</th>
                <th scope="row">last_update</th>
                <th scope="row">active</th>

            </tr>
        </thead>
    </table>

</div>
