@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}



<div style="overflow-x:auto;">
        <table class="table-warning" id="myTable">
            <thead>

                <tr class="tablo">
                    <th>film_id</th>
                    <th>title</th>
                    <th>description</th>
                    <th>release_year</th>
                    <th>language_id</th>
                    <th>rental_duration</th>
                    <th>rental_rate</th>
                    <th>length</th>
                    <th>replacement_cost</th>
                    <th>rating</th>
                    <th>last_update</th>
                    <th>special_features</th>
                    <th>fulltext</th>
                </tr>
            </thead>
        </table>

    </div>