@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}



<div style="overflow-x:auto;">
    <table class="table-warning" id="myTable">
        <thead>
            <tr class="tablo">
                <td scope="row">film_id</td>
                <td scope="row">title</td>
                <td scope="row">description</td>
                <td scope="row">release_year</td>
                <td scope="row">language_id</td>
                <td scope="row">rental_duration</td>
                <td scope="row">rental_rate</td>
                <td scope="row">length</td>
                <td scope="row">replacement_cost</td>
                <td scope="row">rating</td>
                <td scope="row">last_update</td>
                <td scope="row">special_features</td>
                <td scope="row">fulltext</td>
            </tr>
        </thead>
    </table>

    </div>