@{
    ViewData["Title"] = "Inventory Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}


<div style="overflow-x:auto;">
    <table class="table-warning" id="myTable7">
        <thead>
            <tr class="tablo">
                <th scope="row">inventory_id</th>
                <th scope="row">film_id</th>
                <th scope="row">store_id</th>
                <th scope="row">last_update</th>
            </tr>
        </thead>
    </table>

</div>
