@{
    ViewData["Title"] = "Payment Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div style="overflow-x:auto;">
    <table class="table-warning" id="myTable2">
        <thead>
            <tr class="tablo">
                <th scope="row">payment_id</th>
                <th scope="row">customer_id</th>
                <th scope="row">staff_id</th>
                <th scope="row">rental_id</th>
                <th scope="row">amount</th>
                <th scope="row">payment_date</th>
            </tr>
        </thead>
    </table>

</div>

