@{
    ViewData["Title"] = "Rental Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}


<div style="overflow-x:auto;">
    <table class="table-warning" id="myTable12">
        <thead>
            <tr class="tablo">
                <th scope="row">rental_id</th>
                <th scope="row">rental_date</th>
                <th scope="row">inventory_id</th>
                <th scope="row">customer_id</th>
                <th scope="row">return_date</th>
                <th scope="row">staff_id</th>
                <th scope="row">last_update</th>
            </tr>
        </thead>
    </table>

</div>
