@{
    ViewData["Title"] = "Staff Information Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div style="overflow-x:auto;">
    <table class="table-warning" id="myTable3">
        <thead>
            <tr class="tablo">
                <th scope="row">staff_id</th>
                <th scope="row">first_name</th>
                <th scope="row">last_name</th>
                <th scope="row">address_id</th>
                <th scope="row">email</th>
                <th scope="row">store_id</th>
                <th scope="row">active</th>
                <th scope="row">username</th>
                <th scope="row">password</th>
                <th scope="row">last_update</th>
                <th scope="row">picture</th>
            </tr>
        </thead>
    </table>

</div>
